.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0);
    width: 240px;
    background: rgba(0, 190, 190, 0.2);
    border: 1px solid antiquewhite;
    margin: 20px;
    padding: 5px 27px;
    cursor: pointer;
    color: antiquewhite;
    font-weight: 500;
    transition: .3s;
    text-transform: uppercase;
    font-size: 24px;
    overflow: hidden;
    outline: none;
    font-family: 'Rajdhani', sans-serif;
}

.button_next {
    position: relative;
    margin-top: 3em;
}

.button:before,
.button:after {
    content: "";
    position: absolute;
    height: 25px;
    width: 20px;
    background: antiquewhite;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.button:before {
    left: -20px;
}

.button:after {
    right: -20px;
}

.button:hover {
    box-shadow: 0 0 25px antiquewhite, 0 1px 5px #212121;
    border-color: antiquewhite;
    background: rgb(215, 206, 195);
    color: rgba(33, 33, 33, 0.7);
}

.button:hover:before {
    animation: leftbox 1s forwards;
}

.button:hover:after {
    animation: rightbox 1s forwards;
}