* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/stars.gif');
    background-size: 100%;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;
}

h1,
h2,
p {
    margin-top: 30px;
    text-align: center;
    z-index: 1;
    color: #fcfcfc;
    position: relative;
    font-size: 30px;
}

h1 {
    font-size: 60px;
}

i {
    color: antiquewhite;
}

.nova {
    color: rgb(216, 63, 63);
    font-weight: 900;
}

#content {
    height: 5000px;
    display: none;
}

#content_002 {
    overflow: hidden;
}

#spaceship {
    position: relative;
    animation: slide-from-left;
    animation-duration: 100s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    margin-top: 2em;
}

#app_003 {
    position: absolute;
    z-index: 10;
    top: 30%;
    left: 27%;
    max-width: 45%;
}

#next_003 {
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 1;
}

@keyframes slide-from-left {
    0% {
        left: 0;
        transform: translateX(-80%)
    }
    100% {
        left: 100%;
        transform: translateX(100%)
    }
}

.text {
    margin: 0 auto;
    margin-top: 2em;
    width: 50%;
    text-align: left;
    z-index: 1;
    color: #fcfcfc;
    position: relative;
    font-size: 20px;
}

img {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    height: 250px;
}

.large_img {
    width: 60em;
    height: 20em;
}

.x_large_img {
    width: 100%;
    height: 100%;
    margin-top: 0;
}

audio {
    display: none;
}

.fade-in-image {
    position: relative;
    z-index: 1;
    display: block;
    animation: fadeIn 5s;
}

.fade-out-image {
    position: relative;
    z-index: 1;
    animation: fadeOut 5s;
}

.hidden {
    display: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1.15) rotate(0.01deg);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInFormNothing {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.1;
    }
    60% {
        opacity: 0.3;
    }
    80% {
        opacity: 0.7;
    }
    100% {
        opacity: 0.4;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    99% {
        opacity: 0;
        transform: scale(1.15) rotate(0.01deg);
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars {
    background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat center center fixed;
    z-index: 0;
}

@keyframes leftbox {
    0% {
        left: -22px;
    }
    50% {
        height: 30px;
        width: 30px;
    }
    100% {
        height: 200%;
        width: 150%;
    }
}

@keyframes rightbox {
    0% {
        right: -22px;
    }
    50% {
        height: 30px;
        width: 30px;
    }
    100% {
        height: 200%;
        width: 150%;
    }
}

#content_003 {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    perspective: 3.125vmin;
}

#content_003::after {
    border-radius: 50%;
    content: "";
    height: 2.5vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vmin;
}

.polygon {
    animation: 25s cubic-bezier(0, 1.29, 0.95, 1.41) 1 polygon;
    left: 55%;
    position: absolute;
    top: 60%;
    transform-style: preserve-3d;
    transform: rotatex( 90deg) rotatey(0) translatey(-200vmin);
}

@keyframes polygon {
    100% {
        transform: rotatex(90deg) rotatey(360deg) translatey(0);
    }
}

.side {
    background-image: url('../img/prologue/blue.jpeg');
    background-size: 159.12989vmin 25%;
    filter: hue-rotate(-10deg);
    height: 100vmin;
    position: absolute;
    transform-origin: 0;
    width: calc(9.94562vmin + 1px);
}

.side:nth-child(1) {
    background-position: -9.94562vmin 0;
    transform: rotatey(22.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(2) {
    background-position: -19.89124vmin 0;
    transform: rotatey(45deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(3) {
    background-position: -29.83686vmin 0;
    transform: rotatey(67.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(4) {
    background-position: -39.78247vmin 0;
    transform: rotatey(90deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(5) {
    background-position: -49.72809vmin 0;
    transform: rotatey(112.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(6) {
    background-position: -59.67371vmin 0;
    transform: rotatey(135deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(7) {
    background-position: -69.61933vmin 0;
    transform: rotatey(157.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(8) {
    background-position: -79.56495vmin 0;
    transform: rotatey(180deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(9) {
    background-position: -89.51057vmin 0;
    transform: rotatey(202.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(10) {
    background-position: -99.45618vmin 0;
    transform: rotatey(225deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(11) {
    background-position: -109.4018vmin 0;
    transform: rotatey(247.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(12) {
    background-position: -119.34742vmin 0;
    transform: rotatey(270deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(13) {
    background-position: -129.29304vmin 0;
    transform: rotatey(292.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(14) {
    background-position: -139.23866vmin 0;
    transform: rotatey(315deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(15) {
    background-position: -149.18428vmin 0;
    transform: rotatey(337.5deg) translate3d(-50%, -50%, 25vmin);
}

.side:nth-child(16) {
    background-position: -159.12989vmin 0;
    transform: rotatey(360deg) translate3d(-50%, -50%, 25vmin);
}

#deepgate {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}

@keyframes changewidth {
    0% {
        transform: translate(0, 20%) scale(0.2);
    }
    5% {
        transform: translate(0, -20%) scale(0.8);
    }
    100% {
        transform: translate(0, -60%) scale(20);
    }
}

#deepgate_pic {
    position: absolute;
    z-index: -1;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    top: 0;
    animation-duration: 100s;
    animation-name: changewidth;
}

#deepgate_wormhole_transistion {
    position: absolute;
    z-index: -1;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    top: 0;
    animation: fadeInFormNothing 30s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(0deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(0deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(0deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(0deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.ex_large_img {
    width: 120%;
    height: 125%;
    margin-top: -10%;
    margin-left: -10%;
    z-index: 15;
}

@font-face {
    font-family: FlareRegular;
    src: url(../font/Flare-Regular.ttf);
}

.title_font {
    font-family: FlareRegular;
    font-size: 4em;
}